<template name="myJobs">
       <div class="container dashboard-wrapper">
     	<div class="row">
		    <div class="dashboard col-md-2"><a href="/dashboard">Dashboard</a></div><!--
		    --><div class="messages col-md-2"><a href="/dashboard/messages">Messages</a></div><!--
		    --><div class="boats col-md-2"><a href="/dashboard/my-boats">My Boats</a></div><!--
		    --><div class="bookings current-bookings col-md-2"><a href="/dashboard/my-jobs">My Jobs</a></div><!--
		    --><div class="profile col-md-2"><a href="/dashboard/my-trips">My Trips</a></div><!--
		    --><div class="account col-md-2"><a href="/dashboard/account">Account</a></div>
		</div>
    </div>
    <div class="container">
    	<p style="height:600px;"> This is the My Jobs section</p>
    </div>
</template>
