<template name="footer">
    <div class="footer container">
       
        	<div class="col-md-2 about-us">About us
        		<ul>
        			<li><a href="#">Our team</a></li>
        			<li><a href="#">Join us</a></li>
        			<li><a href="#">Terms of service</a></li>
        			<li><a href="#">Privacy policy</a></li>
        		</ul>
        	</div>
        	<div class="col-md-2 help">Help
        		<ul>
        			<li><a href="#">Faq</a></li>
        			<li><a href="#">How it works</a></li>
        			<li><a href="#">Contact</a></li>
        		</ul>
        	</div>
        	<div class="col-md-2 actions">Actions
        		<ul>
        			<li><a href="#">Edit your profile</a></li>
        			<li><a href="#">Add your boat</a></li>
        			<li><a href="#">Find a boat</a></li>
        		</ul>
        	</div>
        	<div class="col-md-2 footer-social">We are social
        		<ul>
        			<li><a href="#">Facebook</a></li>
        			<li><a href="#">Twitter</a></li>
        			<li><a href="#">Linkedin</a></li>
        			<li><a href="#">Google+</a></li>
        		</ul>
        	</div>
        	<div class="col-md-2 discover">Discover
        		<ul>
        			<li><a href="#">Blog</a></li>
        			<li><a href="#">Partnerships</a></li>
        		</ul>
        	</div>
        	<div class="col-md-2 footer-settings">Settings
        		<ul>
        			<li><a href="#">Language</a></li>
        			<li><a href="#">Currency</a></li>
        		</ul>
        	</div>

    </div>
</template>

